<mat-toolbar class="titlebar" color="primary">
  <mat-icon>event_note</mat-icon>
  <span class="titlebar--title"
    ><a routerLink="dashboard">Project Dashboard</a></span
  >
  <span class="titlebar--spacer"></span>
  <button mat-button matTooltip="Create New Project">
    <mat-icon>add_box</mat-icon>
    New
  </button>
  <button mat-button matTooltip="Project Statistics" routerLink="stats">
    <mat-icon>assessment</mat-icon>
    Stats
  </button>
  <button mat-button matTooltip="Export Project Data">
    <mat-icon>save</mat-icon>
    Export
  </button>
</mat-toolbar>
