.card {
  max-width: 33%;
  min-width: 250px;
  float: left;
  margin: 10px;
}

.card--theme-blue {
}

.card--theme-blue mat-title {
  background: blue;
}

.card__title {
  font-size: 22px;
}

.card__input--full-width {
  clear: both;
  float: left;
  width: 100%;
}

.card__input__currency input {
  position: absolute;
  text-indent: 3px;
}

.card__detail {
  position: absolute;
  right: 5px;
  cursor: pointer;
  top: 5px;
  visibility: hidden;
}

.card:hover .card__detail {
  visibility: visible;
}

.mat-input-element:disabled {
  color: rgba(0, 0, 0, 0.5);
}
